Source: cargo-ament-build
Maintainer: Esteve Fernandez <esteve@apache.org>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-setuptools-rust, python3-all-dev, debhelper-compat (= 13), cargo, rustc
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/ros2-rust/cargo-ament-build
Vcs-Git: https://github.com/ros2-rust/cargo-ament-build.git
Vcs-Browser: https://github.com/ros2-rust/cargo-ament-build
X-Python3-Version: >= 3.6

Package: python3-cargo-ament-build
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Cargo plugin for use with colcon workspaces
 This cargo plugin is a wrapper around cargo build which installs build
 artifacts in a layout expected by ament and ROS 2 tools.
 .
 It can be used standalone or through colcon-ros-cargo. The plugin builds
 or checks the package depending on whether it contains any binaries, copies
 the source code and binaries to appropriate locations in the install base,
 and places marker files in the ament index.

