Source: cargo-ament-build
Maintainer: Esteve Fernandez <esteve@apache.org>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-setuptools-rust, python3-all-dev, debhelper (>= 9)
Standards-Version: 3.9.1
Homepage: None
X-Python3-Version: >= 3.6

Package: python3-cargo-ament-build
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: Cargo plugin for use with colcon workspaces
 Cargo plugin for use with colcon workspaces

